In [1]:
import pandas as pd
import numpy as np

In [2]:
# import csv
data11 = "FBI_crime_data_cleaned/cleaned_2011.csv"
data11_df = pd.read_csv(data11)

data12 = "FBI_crime_data_cleaned/cleaned_2012.csv"
data12_df = pd.read_csv(data12)

data13 = "FBI_crime_data_cleaned/cleaned_2013.csv"
data13_df = pd.read_csv(data13)

data14 = "FBI_crime_data_cleaned/cleaned_2014.csv"
data14_df = pd.read_csv(data14)

data15 = "FBI_crime_data_cleaned/cleaned_2015.csv"
data15_df = pd.read_csv(data15)

data16 = "FBI_crime_data_cleaned/cleaned_2016.csv"
data16_df = pd.read_csv(data16)

data17 = "FBI_crime_data_cleaned/cleaned_2017.csv"
data17_df = pd.read_csv(data17)

data18 = "FBI_crime_data_cleaned/cleaned_2018.csv"
data18_df = pd.read_csv(data18)

data19 = "FBI_crime_data_cleaned/cleaned_2019.csv"
data19_df = pd.read_csv(data19)

In [3]:
joined_data = [data11_df, data12_df, data13_df, data14_df, data15_df, data16_df, data17_df, data18_df, data19_df]
combined_data = pd.concat(joined_data)
combined_data

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny Theft,Motor Vehicle Theft,Arson
0,ALABAMA,BIRMINGHAM,2011,213258,3163,54,182,1011,1916,17841,5806,10522,1513,123
1,ALABAMA,HUNTSVILLE,2011,180972,1521,13,51,408,1049,9753,2680,6306,767,38
2,ALABAMA,MONTGOMERY,2011,206754,707,31,38,354,284,10743,2884,7043,816,52
3,ALASKA,ANCHORAGE,2011,296955,2388,12,283,465,1628,9455,1080,7750,625,126
4,ARIZONA,TEMPE,2011,164008,787,5,45,237,500,8933,1579,6804,550,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,WASHINGTON,BELLEVUE,2018,146913,95,0,14,34,47,2230,255,1814,161,8
252,WASHINGTON,SPOKANE,2018,218222,814,4,190,109,511,7490,978,5698,814,19
253,WISCONSIN,MADISON,2018,258455,501,2,57,90,352,2922,416,2264,242,5
254,WISCONSIN,GREEN BAY,2018,105281,247,1,43,25,178,817,106,663,48,3
255,WISCONSIN,MILWAUKEE,2018,595619,4190,53,284,1080,2773,8606,1967,4266,2373,88

In [4]:
# sort by State
combined_data.sort_values(by=["State", "City", "Year"], inplace=True)
combined_data

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny Theft,Motor Vehicle Theft,Arson
0,ALABAMA,BIRMINGHAM,2011,213258,3163,54,182,1011,1916,17841,5806,10522,1513,123
0,ALABAMA,BIRMINGHAM,2012,213266,3237,67,152,983,2035,14788,4704,9042,1042,117
0,ALABAMA,BIRMINGHAM,2014,212115,1619,23,83,454,1059,6596,1716,4169,711,76
0,ALABAMA,BIRMINGHAM,2016,212549,1732,44,75,460,1153,5875,1318,3807,750,76
0,ALABAMA,BIRMINGHAM,2017,212178,1833,42,92,473,1226,6472,1293,4360,819,113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,WISCONSIN,MILWAUKEE,2013,600805,3840,37,210,1470,2123,12302,2849,7730,1723,127
151,WISCONSIN,MILWAUKEE,2014,600374,3957,36,192,1551,2178,12303,2416,6966,2921,110
246,WISCONSIN,MILWAUKEE,2015,600400,4302,73,189,1674,2366,11680,2587,6072,3021,113
211,WISCONSIN,MILWAUKEE,2016,600193,4485,55,252,1545,2633,11506,2385,6140,2981,120
255,WISCONSIN,MILWAUKEE,2018,595619,4190,53,284,1080,2773,8606,1967,4266,2373,88

In [5]:
combined_data.reset_index(drop=True, inplace=True)
combined_data

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny Theft,Motor Vehicle Theft,Arson
0,ALABAMA,BIRMINGHAM,2011,213258,3163,54,182,1011,1916,17841,5806,10522,1513,123
1,ALABAMA,BIRMINGHAM,2012,213266,3237,67,152,983,2035,14788,4704,9042,1042,117
2,ALABAMA,BIRMINGHAM,2014,212115,1619,23,83,454,1059,6596,1716,4169,711,76
3,ALABAMA,BIRMINGHAM,2016,212549,1732,44,75,460,1153,5875,1318,3807,750,76
4,ALABAMA,BIRMINGHAM,2017,212178,1833,42,92,473,1226,6472,1293,4360,819,113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013,WISCONSIN,MILWAUKEE,2013,600805,3840,37,210,1470,2123,12302,2849,7730,1723,127
2014,WISCONSIN,MILWAUKEE,2014,600374,3957,36,192,1551,2178,12303,2416,6966,2921,110
2015,WISCONSIN,MILWAUKEE,2015,600400,4302,73,189,1674,2366,11680,2587,6072,3021,113
2016,WISCONSIN,MILWAUKEE,2016,600193,4485,55,252,1545,2633,11506,2385,6140,2981,120
2017,WISCONSIN,MILWAUKEE,2018,595619,4190,53,284,1080,2773,8606,1967,4266,2373,88

In [6]:
#export cleaned dataframe
combined_data.to_csv("FBI_crime_data_cleaned/combined_data.csv", index = False)
combined_data.to_json("FBI_crime_data_cleaned/combined_data.json")